@import './core/reset';
@import './core/variables';

body {
    font-family: $font;
    background-image: url('../images/fondo3.jpg');
    background-size: cover; // Cambié a 'cover' para mejor visualización
    background-attachment: fixed; // Para un efecto de parallax
    margin: 0;
}

// Header

.principalTitle {
    font-size: 6rem;
    color: $color;
    text-align: center;
    background: linear-gradient(90deg, #ff6600, #ffcc00, #00ffff, #0033ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 0.2rem transparent;
    margin-bottom: 20px; // Añadido espacio inferior
    
}

.principalTitleh2 {
    font-size: 4rem;
    color: $color;
    text-align: center;
    background: linear-gradient(90deg, #ff6600, #ffcc00, #00ffff, #0033ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 0.2rem transparent;
    margin-bottom: 20px; // Añadido espacio inferior
}




.linkLi {
    list-style: none; 
}

.link {
    font-size: 1.5rem;
    font-weight: bold;
    color: $color;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s, transform 0.3s;
    position: relative;
}

.link:hover {
    color: #ff6600; 
    transform: scale(1.1); 
}

.link::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #ff6600;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.link:hover::after {
    width: 100%;
}

.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 3.5rem;
    padding-top: 1rem;
}

.ulLink {
    display: flex;
    gap: 5rem; 
}

// About Me

.about {
    padding: 1.5rem 2rem;
    color: $color;
    background-color: rgba(255, 255, 255, 0.9); 
    backdrop-filter: blur(10px); // Aumentado el desenfoque
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); // Aumentada la sombra
    margin: 5rem auto;
    max-width: 800px;
}

.secondTitle {
    font-size: 2.5rem;
    background: linear-gradient(90deg, #ff6600, #ffcc00, #00ffff, #0033ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    margin-bottom: 15px; // Añadido espacio inferior
}

.paragraph {
    font-size: 1.5rem;
    color: #333;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

// Proyectos

.projects {
    padding: 1.5rem 2rem;
    color: $color;
    background-color: rgba(255, 255, 255, 0.9); 
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    margin: 5rem auto;
    max-width: 800px;
}

.projectsFlex {
    display: flex;
    flex-wrap: wrap; // Para que se ajusten en pantallas más pequeñas
    justify-content: space-around;
    
}

.project-card {
    display: flex;
    flex-direction: column;
    color: $color;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem; // Añadido margen para separación
}

// Contacto

.contact {
    padding: 1.5rem 2rem;
    color: $color;
    background-color: rgba(255, 255, 255, 0.9); 
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    margin: 5rem auto;
    max-width: 800px;
}

.ulProjects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; // Para que se ajusten en pantallas más pequeñas
}

.liProjects {
    list-style: none;
    padding-top: 50px;
}



// Media Queries

@media (max-width: 768px) {
    .principalTitle {
        font-size: 4rem; // Disminuir tamaño en pantallas pequeñas
    }

    .principalTitleh2 {
        font-size: 3rem; // Disminuir tamaño en pantallas pequeñas
    }

    .paragraph, .secondTitle {
        font-size: 1.2rem; // Ajustar tamaño de texto
    }

    .about, .projects, .contact {
        padding: 1rem; // Ajustar padding en secciones
        margin: 2rem 1rem; // Reducir margen en pantallas pequeñas
    }
    
    .project-card {
        width: 90%; // Ajustar ancho de tarjeta de proyecto
    }
}

.projects {
    padding: 1.5rem 2rem;
    color: $color;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    margin: 5rem auto;
    max-width: 800px;
}

.projectsFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card {
    display: flex;
    flex-direction: column;
    color: $color;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem;
    width: calc(33.33% - 2rem); /* Ajusta el tamaño de las tarjetas en pantallas grandes */
    box-sizing: border-box;
}

.project-card img {
    width: 100%;
    height: auto; /* Mantener la relación de aspecto de las imágenes */
    margin-bottom: 10px; /* Ajusta el espacio debajo de la imagen */
}

.projectsTitle {
    font-size: 1.5rem; /* Tamaño adecuado para el título */
    margin-bottom: 5px; /* Reduce el espacio entre el título y la imagen */
}

.linkProjects {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff; /* Cambiar a un color llamativo (puedes elegir otro si prefieres) */
    display: block;
    text-align: center;
    font-family: 'Arial', sans-serif; /* Cambiar la fuente para darle un aspecto más de enlace */
    padding: 5px 0; /* Añadir un poco de espacio alrededor del enlace */
    transition: color 0.3s ease, transform 0.3s ease; /* Animación suave para el cambio de color y tamaño */
    
}

.linkProjects:hover {
    color: #ff6600; /* Cambiar el color cuando el usuario pasa el ratón sobre el enlace */
    text-decoration: underline; /* Añadir el subrayado solo cuando se pasa el ratón */
    transform: scale(1.05); /* Añadir un pequeño efecto de aumento cuando el ratón está encima */
}

.linkProjects:focus {
    outline: none; /* Quitar el borde cuando el enlace está enfocado */
    box-shadow: 0 0 3px 2px #ff6600; /* Resaltar el enlace cuando está enfocado */
}

/* Media Queries */
@media (max-width: 768px) {
    .project-card {
        width: 100%; /* Las tarjetas de los proyectos ocupan todo el ancho en pantallas pequeñas */
    }

    .projectsTitle {
        font-size: 1.3rem; /* Ajustar tamaño en pantallas pequeñas */
        margin-bottom: 5px; /* Asegurarse de que el margen esté cerca */
    }

    .project-card img {
        margin-bottom: 5px; /* Reducir el margen para que el título se acerque más a la imagen */
    }
}
.project-card img {
    width: 100%;
    height: 200px; /* Altura común para todas las imágenes */
    object-fit: contain; /* La imagen se ajusta sin recortes */
    margin-bottom: 10px;
}

.project-description {
    font-size: 0.9rem; /* Reducir el tamaño de la fuente */
    color: #555;
    margin-top: 10px;
    text-align: center;
    line-height: 1.4;
    font-weight: normal; /* Reducir el grosor de la fuente */
  }
  
  .project-technologies {
    font-size: 0.9rem; /* Reducir el tamaño de la fuente */
    
    margin-top: 5px;
    text-align: center;
    font-weight: normal; /* Reducir el grosor de la fuente */
  }
  
  .project-technologies strong {
    font-weight: bold; /* Solo hacer el texto 'Tecnologías utilizadas' en negrita */
  }
  